@import "tailwindcss";

@layer utilities {
    .container {
  margin-inline: auto;
}}

@theme{

    --color-primary:#07070C;
    --color-iconcolor:#9A9AAF;
    --font-poppins:"Poppins", "sans-serif";
}
/* 
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
} */
